.container {
    display: flex;
    justify-content: center;
    height: 100vh;
    
}

.calculator {
    background-color: rgb(242, 188, 242);
    width: 500px;
    margin: 5% auto;
}

.display {
    background-color: rgb(175, 156, 175);
    margin: 20px 20px;
}