html {
    font-size: 10px;
}

.container {
    display: flex;
    justify-content: center;
    height: 100vh;  
}

.calculator {
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 208, 239);
    width: 40rem;
    height: 50rem;
    margin: 10% auto auto;
    border-style: solid;
    border-color: rgb(241, 187, 241);
    border-radius: 3rem;
    font-family: 'Courier New', Courier, monospace;
    justify-content: space-around;
    flex-shrink: 0;
}

.display {
    display: flex;
    background-color: rgb(175, 156, 175);
    margin: 2rem 2rem 1rem;
    padding: 0 1.5rem;
    height: 15rem;
    font-size: 8rem;
    justify-content: flex-end;
    align-items: center;
    border-radius: 1rem;
}

.btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    margin: 1rem 2rem 3rem;
}

button {
    width: 8rem;
    height: 6.4rem;
    border-radius: 1rem;
    font-size: 3.2rem;
}

.number,
.operator,
.clear,
.equals {
    border-style: none;
}
.number {
    background-color: aliceblue;
}

.operator {
    background-color: rgb(181, 219, 243);
}

.clear {
    background-color: rgb(229, 173, 235);
}

.equals {
    background-color: rgb(126, 196, 240);
}